# Environment variables
.env
*.env
asset.env

# Dependencies
node_modules/
env/
venv/

# Build outputs
dist/
build/
*.pyc
__pycache__/

# IDE specific files
.vscode/
.idea/
*.swp
.DS_Store

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# flask session
flask_session/
