nav {
  background-color: #000415;
  color: white;
  display: flex;
  flex-direction: row;
  height: 7rem;
  align-items: center;
  justify-content: flex-end;

  a {
    color: white;
    text-decoration: none;
    padding: 0rem 1.5rem;
    font-size: 2rem;
    font-weight: bold;
  }
}

.app {
  background-color: #000415;
  color: #fff7f3;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
  position: relative;
  display: flex;
}

.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

img {
  height: 100%;
}

.icon {
  object-fit: fill;
}

.account_logo {
  height: 5rem;
  margin-top: 1rem;
  overflow: hidden;
}

/* login page */

.login {
  background-color: rgb(242, 239, 239);
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: start;
  flex-shrink: 0;

  .login_layout {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100vh;

    form {
      width: calc(100% - 10rem);
      margin-bottom: 25rem;
      border-radius: 20px;
      box-shadow: 0 25px 25px rgba(0, 0, 0, 0.1);

      .login-form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        h1 {
          font-size: 5rem;
          color: black;
          margin: 0;
        }

        .text-login {
          text-align: start;
          padding-left: 1rem;

          label {
            font-size: 2rem;
            color: black;
            margin: 0;
          }

          input {
            width: calc(100% - 5rem);
            padding: 1rem;
            border-radius: 10px;
            border: black 2px solid;
            font-size: 2rem;
            background-color: #f0f0f0;
          }
        }

        .login_button {
          position: relative;
          width: calc(100% - 30rem);
          padding: 1rem;
          background-color: #4285f4;
          border-radius: 10px;
          font-size: 2rem;
          margin: 1rem 0;
          color: white;
          font-weight: bold;
          box-shadow: 0 15px 20px rgba(0, 0, 0, 24%);
          cursor: pointer;
          transition: 0.5s;
          overflow: hidden;
        }

        .login_button::before {
          content: "";
          position: absolute;
          inset: 0;
          background: linear-gradient(45deg, #56ccf2, #2f80ed);
          border-radius: inherit;
          opacity: 0;
          transition: 0.5s;
        }

        .login_button::after {
          content: "";
          position: absolute;
          bottom: -10px;
          width: 100%;
          height: 100%;
          background: linear-gradient(45deg, #56ccf2, #2f80ed);
          border-radius: 20px;
          transition: 0.5s;
          filter: blur(15px);
          z-index: -1;
          opacity: 0;
        }

        .login_button span {
          position: relative;
          z-index: 1;
        }

        .login_button:hover::before {
          opacity: 1;
        }

        .login_button:hover::after {
          opacity: 0.5;
        }

        .login_button:hover {
          width: calc(100% - 10rem);
          border-radius: 20px;
          transform: translateY(5px);
          font-size: 2.5rem;
        }

        p {
          color: #1a1a1d;
          font-size: 1.5rem;
        }

        .error {
          color: red;
          font-size: 2rem;
        }

        .success {
          color: green;
          font-size: 2rem;
        }
      }
    }
  }
}

/* register page  */
.register {
  background-color: rgb(242, 239, 239);
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  form {
    background-color: #151316;
    margin-bottom: 15rem;
    border-radius: 20px;
    box-shadow: 0 7px 30px rgb(111 111 111 / 10%);
    z-index: 1;
    width: calc(100% - 60rem);
    position: relative;
    padding-top: 2rem;

    .register-form {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      a {
        color: #56ccf2;
      }

      p {
        font-size: 1.5rem;
      }

      .error {
        color: red;
        font-size: 1.5rem;
        margin-left: 2rem;
      }

      .success {
        color: green;
        font-size: 1.5rem;
      }

      h1 {
        font-size: 3.5rem;
        color: white;
      }

      .text-register {
        width: calc(100% - 15rem);
        display: flex;
        flex-direction: column;
        align-items: start;
        text-align: center;
        margin-left: 1rem;

        label {
          font-size: 1.5rem;
          color: white;
          margin-bottom: 0.5rem;
          margin-left: 2rem;
        }

        input {
          width: calc(100% - 5rem);
          padding: 0.5rem;
          border-radius: 10px;
          border: black 2px solid;
          font-size: 2rem;
          background-color: #f0f0f0;
          margin: auto;
          margin-bottom: 1rem;
        }
      }

      .register_button {
        position: relative;
        width: calc(100% - 30rem);
        padding: 1rem;
        background-color: #4285f4;
        border-radius: 10px;
        font-size: 2rem;
        margin: 1rem 0;
        color: white;
        font-weight: bold;
        box-shadow: 8px 13px 13px rgba(173, 173, 173, 0.1);
        cursor: pointer;
        transition: 0.5s;
        overflow: hidden;
      }

      .register_button::before {
        content: "";
        position: absolute;
        inset: 0;
        background: linear-gradient(45deg, #56ccf2, #2f80ed);
        border-radius: inherit;
        opacity: 0;
        transition: 0.5s;
      }

      .register_button::after {
        content: "";
        position: absolute;
        bottom: -10px;
        width: 100%;
        height: 100%;
        background: linear-gradient(45deg, #56ccf2, #2f80ed);
        border-radius: 20px;
        transition: 0.5s;
        filter: blur(15px);
        z-index: -1;
        opacity: 0;
      }

      .register_button span {
        position: relative;
        z-index: 1;
      }

      .register_button:hover::before {
        opacity: 1;
      }

      .register_button:hover::after {
        opacity: 0.5;
      }

      .register_button:hover {
        width: calc(100% - 20rem);
        border-radius: 20px;
        transform: translateY(5px);
        font-size: 2.5rem;
      }
    }
  }
}

/* home page */

.home {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  width: 100%;
  height: auto;
  overflow: visible;

  h1 {
    font-size: 4rem;
    margin: 0;
  }

  .main_goal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 40rem;
  }

  .improve-row-layout {
    display: flex;
    justify-content: start;
    width: 100%;
    padding: 5rem 15rem 0rem 15rem;
    box-sizing: border-box;
    flex-shrink: 0;
  }

  .row-1-layout {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    padding: 3rem 15rem 3rem 15rem;
    box-sizing: border-box;
    gap: 3rem;
    flex-shrink: 0;

    .clock_border {
      position: relative;
      height: 100%;
    }

    .quote_card {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;

      .layer {
        bottom: 0;
        transition: 1s;
        position: absolute;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #191929;
        border-radius: 15px;
        cursor: pointer;
        z-index: 5;

        h1 {
          font-size: 6rem;
          color: #d9e1e7;
          transition: 1s;
          text-shadow: 0 5px 5px rgba(246, 244, 244, 0.2);
        }

        &:hover {
          height: 60px;
          border-radius: 0 0 15px 15px;

          h1 {
            font-size: 2rem;
            font-weight: bold;
            color: #d7d3c3;
          }
        }
      }

      .quote {
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        word-break: break-word;
        box-sizing: border-box;
        padding: 1rem;
        background-color: #d7d3c3;
        border-radius: 15px;

        .gradient_circle {
          background-image: linear-gradient(0deg, #d5658b 0%, #d7b977 100%);
          border-radius: 50%;
          width: 11rem;
          height: 11rem;
          position: absolute;
          z-index: 0;
          filter: blur(6px);
          opacity: 0.98;
          box-shadow: 0px 20px 30px #e5749a;
        }

        h1 {
          font-size: 2.5rem;
          color: white;
          z-index: 2;
          margin: 0;
          box-sizing: border-box;

          .quote-text {
            color: #000415;
            font-weight: bold;
            font-family: cursive;
          }
        }
      }
    }
  }

  .row-2-layout {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 3rem 15rem 3rem 15rem;
    box-sizing: border-box;
    column-gap: 2rem;
    flex-shrink: 0;
    row-gap: 1rem;

    .date-now {
      grid-column-start: 1;
      grid-column-end: 4;
    }

    .check-in-layout {
      grid-column-start: 1;
      grid-column-end: 4;
      display: grid;
      grid-template-columns: 1fr 1fr;
      column-gap: 2rem;

      .check-in {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        overflow: hidden;
        min-height: 15rem;

        .switch {
          position: relative;
          height: 100%;

          .toggle-label {
            position: relative;
            width: 12rem;
            height: 5rem;
            top: 59%;
            cursor: pointer;
            display: inline-block;
            padding: 5px;
            background: #272727;
            border-radius: 30px;
            box-shadow: 0px 0px 16px -8px #fefefe;
            -webkit-user-select: none;
            user-select: none;
          }

          .toggle-label::before,
          .toggle-label::after {
            content: "STOP";
            overflow: hidden;
            font-size: 10rem;
            text-transform: uppercase;
            position: absolute;
            left: 49%;
            top: -85%;
            transform: translate(-50%, -50%);
            z-index: 1;
            font-family: sans-serif;
            font-weight: 400;
            color: #2a2a2a;
            -webkit-text-stroke-color: #fff9f9;
            -webkit-text-stroke-width: 1px;
            transition: 0.7s;
          }

          .toggle-label::after {
            content: "START";
            transition: 0.7s;
            left: -400%;
            transform: translate(0, -50%);
            font-size: 9rem;
            color: #2f80ed;
            z-index: 0;
          }

          .toggle-label:has(.circle:checked)::before {
            left: 250%;
            transform: translate(0, -50%);
          }

          .toggle-label:has(.circle:checked)::after {
            left: 50%;
            transform: translate(-50%, -50%);
          }

          .circle {
            opacity: 0;
            width: 0;
            height: 0;
          }

          .slider {
            position: absolute;
            cursor: pointer;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: #2a2a2a;
            transition: all 0.7s cubic-bezier(0.44, 0, 0.5, 1);
            border-radius: 30px;
            overflow: hidden;
            z-index: 1;
            opacity: 0.9;
          }

          .slider::before {
            position: absolute;
            content: "";
            width: 5rem;
            height: 5rem;
            border-radius: 50px;
            left: 1rem;
            bottom: 0.3rem;
            transition: 0.7s;
            transition-timing-function: cubic-bezier(0.44, 0, 0.5, 1);
            box-shadow: inset 20px -10px 0px 0px #fff;
          }

          .toggle-label .circle:checked + .slider {
            background-color: #00a6ff;
          }

          .toggle-label .circle:checked + .slider:before {
            left: calc(100% - 5.9rem);
            box-shadow: inset 15px 100px 0px 15px #ffcf48;
          }

          .star_button {
            background-color: #fff;
            border-radius: 50%;
            position: absolute;
            width: 1.3rem;
            transition: all 0.7s cubic-bezier(0.44, 0, 0.5, 1);
            height: 1.3rem;
          }

          .star_1 {
            left: 7.7rem;
            top: 1rem;
          }

          .star_2 {
            left: 9.5rem;
            top: 2.3rem;
          }

          .star_3 {
            left: 6.4rem;
            top: 3em;
          }

          .circle:checked ~ .slider .star_button {
            opacity: 0;
            left: 100%;
          }

          .cloud {
            width: 10rem;
            position: absolute;
            left: -9rem;
            opacity: 0;
            transition: all 0.7s cubic-bezier(0, 0.1, 1, 1);
          }

          .circle:checked ~ .slider .cloud {
            opacity: 1;
            left: -1.5rem;
            transition: all 0.7s cubic-bezier(0.5, 0, 0.5, 1);
          }
        }
      }

      .time-spent {
        grid-column-start: 2;
        grid-column-end: 4;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        gap: 0rem;
        box-sizing: border-box;
        position: relative;
        overflow: hidden;

        .time-spent-title {
          position: absolute;
          box-sizing: border-box;
          top: -18%;

          h1 {
            margin: 0;
            position: relative;
            font-size: 8rem;
            font-weight: 400;
            color: #2a2a2a;
            font-family: sans-serif;
            background: linear-gradient(to right, #2f80ed 50%, transparent 50%);
            background-position: right;
            background-size: 200% 100%;
            -webkit-background-clip: text;
            background-clip: text;
            -webkit-text-stroke-color: #fff9f9;
            -webkit-text-stroke-width: 1px;
            -webkit-text-fill-color: transparent;
            transition: all 0.48s ease-in-out;
          }
        }

        .time-spent-title.active h1 {
          background-position: left;
        }

        h1 .time-slide {
          position: relative;
        }

        h1 .time-slide.spend {
          bottom: 10rem;
          -webkit-text-fill-color: #2f80ed;
          transition: all 0.7s cubic-bezier(0.5, 1, 0.5, 0.72);
        }

        h1 .time-slide.spend.active {
          bottom: 0;
          transition: all 0.35s cubic-bezier(0.75, 0, 0.5, 0.9);
        }

        h1 .time-slide.stop {
          position: absolute;
          right: -18rem;
          transition: all 0.3s cubic-bezier(0.35, 0.9, 1, 0.9);
        }

        h1 .time-slide.stop.active {
          position: absolute;
          right: 16%;
          transition: all 0.7s cubic-bezier(0.8, 0, 0.4, 0.72);
        }

        .time-spent-number {
          position: relative;
          bottom: -16%;

          span {
            margin: 0;
            font-size: 8rem;
            font-weight: 400;
            color: #2a2a2a;
            font-family: sans-serif;
            transition: 0.7s;
            -webkit-text-stroke-color: #fff9f9;
            -webkit-text-stroke-width: 1px;
          }
        }
      }
    }
  }
}

.clock {
  width: 20rem;
  height: 20rem;
  position: relative;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;

  .clock-layout {
    border-radius: 50%;
    width: 100%;
    height: 100%;
    position: relative;
    box-sizing: border-box;
  }

  .time-text {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2rem;
    color: white;
    font-weight: lighter;
  }

  .clock-layout span:nth-child(1) {
    width: 45%;
    height: 2px;
  }

  .clock-layout span:nth-child(2) {
    width: 40%;
    height: 4px;
  }

  .clock-layout span:nth-child(3) {
    width: 30%;
    height: 5px;
  }

  .line {
    position: absolute;
    background: white;
    transform-origin: center;
    left: 50%;
    top: 50%;
  }

  .long {
    width: 20px;
    height: 2px;
  }

  .short {
    width: 10px;
    height: 2px;
  }

  .pointer {
    position: absolute;
    top: 50%;
    left: 50%;
    background: white;
    transform-origin: left center;
    transition: all 0.05s;
    transition-timing-function: cubic-bezier(0.1, 2.5, 0.55, 1);
  }

  .twelve {
    transform: translateX(-50%) translateY(-50%) rotate(0deg)
      translateX(calc(10rem - 20px));
  }

  .one {
    transform: translateX(-50%) translateY(-50%) rotate(30deg)
      translateX(calc(10rem - 10px));
  }

  .two {
    transform: translateX(-50%) translateY(-50%) rotate(60deg)
      translateX(calc(10rem - 10px));
  }

  .three {
    transform: translateX(-50%) translateY(-50%) rotate(90deg)
      translateX(calc(10rem - 20px));
  }

  .four {
    transform: translateX(-50%) translateY(-50%) rotate(120deg)
      translateX(calc(10rem - 10px));
  }

  .five {
    transform: translateX(-50%) translateY(-50%) rotate(150deg)
      translateX(calc(10rem - 10px));
  }

  .six {
    transform: translateX(-50%) translateY(-50%) rotate(180deg)
      translateX(calc(10rem - 20px));
  }

  .seven {
    transform: translateX(-50%) translateY(-50%) rotate(210deg)
      translateX(calc(10rem - 10px));
  }

  .eight {
    transform: translateX(-50%) translateY(-50%) rotate(240deg)
      translateX(calc(10rem - 10px));
  }

  .nine {
    transform: translateX(-50%) translateY(-50%) rotate(270deg)
      translateX(calc(10rem - 20px));
  }

  .ten {
    transform: translateX(-50%) translateY(-50%) rotate(300deg)
      translateX(calc(10rem - 10px));
  }

  .eleven {
    transform: translateX(-50%) translateY(-50%) rotate(330deg)
      translateX(calc(10rem - 10px));
  }
}

/* account page */
.account {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 5rem;
  row-gap: 2.5rem;
  padding: 2.5rem;
  align-items: start;
  justify-content: normal;

  .account-main-goal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 15rem;
    grid-column-start: 1;
    grid-column-end: 4;
    background-color: #191929;
    border-radius: 30px;
    overflow: scroll;

    h1 {
      margin: 0;
      font-size: 5rem;
      color: #56ccf2;

      span {
        cursor: pointer;
      }
    }

    .span-set-goal {
      font-size: 6rem;
      background-image: linear-gradient(45deg, #56ccf2, #2f80ed);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      -moz-background-clip: text;
      -moz-text-fill-color: transparent;
      background-clip: text;
      display: inline-block;
      position: relative;
      transition: all 0.3s ease-in-out;
      box-shadow: 0 10px 40px rgb(111 111 111 / 10%);

      &:hover {
        transform: scale(1.05);
        box-shadow: 15px 20px 25px rgba(189, 188, 188, 0.1);
      }
    }

    .span-set-goal::after,
    .span-set-goal::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 2px;
      background: linear-gradient(to right, #2f80ed, #34ffff);
      bottom: -5px;
      left: 0;
      transform: scaleX(0);
      transform-origin: right;
      transition: transform 0.4s ease-out;
    }

    .span-set-goal::before {
      top: -5px;
      transform-origin: left;
    }

    .span-set-goal:hover::after,
    .span-set-goal:hover::before {
      transform: scaleX(1);
    }
  }

  .account-date {
    display: flex;
    width: fit-content;
    min-height: 524px;
    min-width: 564px;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: #191929;
    border-radius: 30px;
    padding: 20px;

    p {
      font-size: 2rem;
      color: #56ccf2;
    }

    .piechart {
      margin-left: 9rem;
    }

    .pie-chart-no-data {
      font-size: 3rem;
    }

    .p-set-your {
      color: #56ccf2;
      display: flex;
      align-items: center;
      gap: 0.5rem;

      .outer-span-text {
        cursor: pointer;
        margin: 0;
        overflow: hidden;
        position: relative;
        display: inline-block;
        vertical-align: middle;
      }

      .outer-span-text::before,
      .outer-span-text::after {
        content: "";
        position: absolute;
        width: 100%;
        left: 0;
      }

      .outer-span-text::before {
        background-color: #f5efacf7;
        height: 2px;
        bottom: 0;
        transform-origin: 100% 50%;
        transform: scaleX(0);
        transition: transform 0.3s cubic-bezier(0.76, 0, 0.24, 1);
      }

      .outer-span-text::after {
        content: attr(data-replace);
        height: 100%;
        top: 0;
        transform-origin: 100% 50%;
        transform: translate3d(200%, 0, 0);
        transition: transform 0.3s cubic-bezier(0.76, 0, 0.24, 1);
        color: #f5efacf7;
      }

      .outer-span-text:hover::before {
        transform-origin: 0% 50%;
        transform: scaleX(1);
      }

      .outer-span-text:hover::after {
        transform: translate3d(0, 0, 0);
      }

      .outer-span-text .inner-span-text {
        display: inline-block;
        transition: transform 0.3s cubic-bezier(0.76, 0, 0.24, 1);
        line-height: normal;
        cursor: pointer;
      }

      .outer-span-text:hover .inner-span-text {
        transform: translate3d(-200%, 0, 0);
      }
    }
  }

  .name-graph-box {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    grid-column-start: 2;
    grid-column-end: 4;
    width: 100%;
    height: 100%;
    gap: 2rem;

    .account-name-skill {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      background-color: #191929;
      border-radius: 10px;
      box-sizing: border-box;
      padding: 10px;
      gap: 1rem;
      height: 30%;

      h3 {
        font-size: 2rem;
        margin: 0;

        span {
          cursor: pointer;
          transition: 0.5s;
          color: #666;
          position: relative;
          display: inline-block;
        }
      }

      .span-set-name::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #ffee10;
        background-size: 100%;
        background-repeat: repeat;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        -moz-background-clip: text;
        -moz-text-fill-color: transparent;
        background-clip: text;
        transition: 0.5s;
        transform: scale(0.9);
        z-index: -1;
      }

      .span-set-name:hover::before {
        transform: scale(1.1);
      }

      .span-set-name:hover {
        color: #ffee10;
        text-shadow: 0 0 5px rgba(255, 238, 16, 0.5);
      }
    }
  }
}

.container.set-goal {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0px;
  left: 0;
  z-index: 1000;

  .set-goal-bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #191929;
    opacity: 0.6;
    z-index: 1001;
    cursor: pointer;
  }

  .set-goal-form {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    z-index: 1002;
    opacity: 1;
    background-color: #191929;
    border-radius: 30px;
    width: 50%;
    height: 50%;
    box-shadow: 10px 10px 15px rgba(141, 140, 140, 0.1);
    padding: 1rem;

    h1 {
      font-size: 6.5rem;
      color: #d9e1e7;
      margin: 0;
    }

    p {
      font-size: 2.5rem;
      margin: 0;
    }

    .goal-input-layout {
      width: calc(100% - 10rem);
      display: flex;
      flex-direction: column;
      justify-content: start;
      box-sizing: border-box;
      align-items: center;
      padding: 1rem;
      gap: 1.5rem;

      input:nth-child(1) {
        width: 100%;
        font-size: 2rem;
        padding: 10px;
        border-radius: 15px;
        box-sizing: border-box;
        margin: 0;
      }

      .date-input-layout {
        display: grid;
        grid-template-columns: 1fr 1fr;
        box-sizing: border-box;
        row-gap: 0.2rem;
        column-gap: 3rem;

        label {
          font-size: 4rem;
          color: #d9e1e7;
          font-weight: bold;
        }

        input {
          width: calc(100% - 5rem);
          margin: 0 auto;
          box-sizing: border-box;
          font-size: 1.5rem;
        }
      }

      .account-button-layout {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100%;
        box-sizing: border-box;
        margin-top: 1.5rem;

        .btn {
          width: 40%;
          height: 4rem;
          margin: 0 1rem;
          box-sizing: border-box;
          font-size: 2.5rem;
          font-weight: bold;
          border-radius: 10px;
          color: white;
          cursor: pointer;
          box-shadow: 0px 15px 10px rgba(164, 162, 162, 0.1);
          transition: all 0.3s ease-in-out;

          &:hover {
            transform: translatey(-5px);
            font-size: 2.7rem;
          }
        }

        .submit {
          background-color: #75a4f0;
        }

        .cancel {
          background-color: #d55145;
        }
      }
    }
  }

  .set-goal-form.name {
    width: 40%;
    height: fit-content;

    h1 {
      font-size: 5rem;
      color: #d9e1e7;
      margin: 0;
    }

    h2 {
      font-size: 4rem;
      color: #d9e1e7;
      margin: 0;
    }

    input {
      width: 100%;
      font-size: 2rem;
      padding: 10px;
      border-radius: 15px;
      box-sizing: border-box;
      margin: 0;
    }

    .btn {
      box-shadow: 0px 5px 10px rgba(164, 162, 162, 0.1);
    }
  }
}

/* back ground  */

.star-background {
  background-color: #050a24;
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  cursor: pointer;
}

.star-background.login-bg {
  width: 50%;
}

.star-background.register-bg {
  position: absolute;
  z-index: 0;
}

.star-background.home-bg {
  cursor: default;
}

.star {
  position: absolute;
  cursor: pointer;
  top: 50%;
  left: 50%;
  height: 2px;
  width: 2px;
  background-color: #fff;
  border-radius: 50%;
  box-shadow: -23vw -42vh 4px 1px #fff, 15vw -38vh 4px 1px #fff,
    -18vw -28vh 4px 1px #fff, 25vw -15vh 4px 1px #fff, -12vw -8vh 4px 1px #fff,
    20vw 5vh 4px 1px #fff, -22vw 18vh 4px 1px #fff, 16vw 25vh 4px 1px #fff,
    -15vw 35vh 4px 1px #fff, 23vw 42vh 4px 1px #fff, -8vw -45vh 3px 0.5px #fff,
    12vw -32vh 3px 0.5px #fff, -20vw -20vh 3px 0.5px #fff,
    7vw -12vh 3px 0.5px #fff, -15vw 0vh 3px 0.5px #fff, 10vw 15vh 3px 0.5px #fff,
    -18vw 28vh 3px 0.5px #fff, 13vw 38vh 3px 0.5px #fff,
    -5vw -40vh 2px 0.2px rgba(255, 255, 255, 0.9),
    18vw -35vh 2px 0.2px rgba(255, 255, 255, 0.9),
    -24vw -25vh 2px 0.2px rgba(255, 255, 255, 0.9),
    8vw -18vh 2px 0.2px rgba(255, 255, 255, 0.9),
    -16vw -5vh 2px 0.2px rgba(255, 255, 255, 0.9),
    22vw 8vh 2px 0.2px rgba(255, 255, 255, 0.9),
    -10vw 20vh 2px 0.2px rgba(255, 255, 255, 0.9),
    14vw 32vh 2px 0.2px rgba(255, 255, 255, 0.9);
  animation: initialZoom 3s ease-in forwards;
  transform-origin: center center;
  will-change: transform;
}

.star.animation-complete {
  transform: scale(1.4);
  animation: none;
  transition: transform 0.1s ease-out;
}

.star.home {
  animation: initialZoom 6s cubic-bezier(0.23, -0.01, 0.45, 1.06) alternate
    infinite;
  transform-origin: center center;
  will-change: transform;
}

.gradient-text {
  position: absolute;
  background-color: white;
  background-color: #050a24;
  background-image: linear-gradient(45deg, #ffffff, #7b86c1, #1f2d6d);
  background-size: 100%;
  background-repeat: repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  background-clip: text;
  font-size: 2.2rem;
  animation: text-gradient 3s ease-in forwards;
  will-change: background-size;
}

.gradient-text.login {
  margin-top: 35%;
  margin-left: 4rem;
}

.main_goal_text {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.gradient-text.home-text {
  font-size: 8rem;
  animation: text-gradient-home 5s ease-in alternate infinite;
  background-image: linear-gradient(45deg, #ffffff, #f057deb7, #ef5cdeb7);
  background-size: 100%;
  top: 15%;

  .account-link {
    cursor: pointer;
    margin-left: 5rem;
    font-size: 10rem;
    --rotation: 20deg;
    animation: text-gradient-home 5s ease-in alternate infinite,
      rotateAngle 12s cubic-bezier(0.23, -0.01, 0.45, 1.06) infinite;
    background-image: linear-gradient(45deg, #56ccf2, #066ff9);

    &:hover {
      animation-play-state: paused;
    }
  }
}

.gradient-text.animation-complete {
  background-size: 100%;
  animation: none;
  transition: background-size 0.1s ease-out;
}

@keyframes initialZoom {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.4);
  }
}

@keyframes text-gradient {
  0% {
    background-size: 300%;
  }
  100% {
    background-size: 100%;
  }
}

@keyframes text-gradient-home {
  0% {
    background-size: 100%;
  }
  100% {
    background-size: 400%;
  }
}

@keyframes rotateAngle {
  0% {
    transform: rotateY(0deg) rotateX(10deg);
  }
  25% {
    transform: rotateY(15deg) rotateX(10deg);
  }
  50% {
    transform: rotateY(0deg) rotateX(10deg);
  }
  75% {
    transform: rotateY(-25deg) rotateX(10deg);
  }
  100% {
    transform: rotateY(0deg) rotateX(10deg);
  }
}
